@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resetear estilos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-white text-black;
    font-family: var(--font-sans);
  }
}

.line-clamp-2 {
  @apply overflow-hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.aspect-video {
  @apply relative w-full overflow-hidden;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
}

.aspect-video > * {
  @apply absolute top-0 left-0 w-full h-full object-cover;
}
